@use "sass:math";
@use "./config" as *;

.about-text-container {
  margin: auto;
  max-width: 45%;

  p {
    font-size: 2.2rem;
    margin-top: 2rem;
    text-align: justify;
    opacity: 0;
    animation: fadeInUp 1s forwards;

    @for $i from 1 through 5 {
      &:nth-child(#{$i}) {
        animation-delay: #{math.div($i, 2) + 1.5}s;
      }
    }

    strong {
      color: $primary-color;
    }
  }
}

.about-icons-container {
  margin: auto;
  max-width: 30%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 5rem;
}

.tech-icon {
  width: 10rem;
  height: 10rem;
  opacity: 0;
  animation: jackInTheBox 1s forwards;
  animation-delay: 2s;

  @for $i from 1 through 7 {
    &:nth-child(#{$i}) {
      animation-delay: #{math.div($i, 2) + 1.5}s;
    }
  }
}

@media screen and (max-width: 1200px) {
  .about-text-container {
    max-width: initial;

    p {
      font-size: 2rem;
    }
  }

  .about-icons-container {
    max-width: initial;
    gap: 2.5rem;
  }

  .tech-icon {
    width: 7.5rem;
    height: 7.5rem;
  }
}
