@use "./config" as *;

.logo-in-text {
  width: 4rem;
}

.main-logo-container {
  flex-grow: 1;
  text-align: center;
}
.main-logo {
  width: 34rem;
  opacity: 0;
  animation: jackInTheBox 1.2s forwards;
  animation-delay: 1.7s;
}
