@use "./config" as *;

.home-text-container {
  margin: 0 auto;
}

.logo-in-text {
  width: 4rem;
}

.home-logo-container {
  margin: auto;
}

.home-logo {
  width: 30rem;
  margin-right: 7rem;
  opacity: 0;
  animation: jackInTheBox 1.2s forwards;
  animation-delay: 1.7s;
}
