@use "sass:math";
@use "./config" as *;
@use "./navbar";
@use "./home";
@use "./about";
@use "./contact";

#root {
  display: flex;
  height: 100%;
}

#main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  padding: 7rem;
}

.page-container {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 7rem;
  animation: fadeIn 1s;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: fadeOut 1s forwards;
  animation-delay: 1s;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s ease-out forwards;
  animation-delay: 1s;

  @for $i from 11 through 36 {
    &.delay-#{$i} {
      animation-delay: #{math.div($i, 10)}s;
    }
  }
}

.text-animate-hover {
  display: inline-block;

  &:hover {
    color: $primary-color;
    animation: rubberBand 1s;
  }
}
