@use "sass:math";
@use "./config" as *;
@use "./navbar";
@use "./home";
@use "./about";
@use "./projects";
@use "./contact";

a {
  text-decoration: none;

  &:visited {
    color: $content-color;
  }
}

li {
  list-style-type: none;
}

h1 {
  font-size: 7.5rem;
  font-weight: bold;
  color: $content-color;
}

#root {
  display: flex;
  width: 100%;
  height: 100%;
}

#main {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  display: flex;
  overflow-y: auto;
  padding: 7rem;
}

.page-container {
  margin: auto;
  width: 100%;
  display: flex;
  gap: 7rem;
  animation: fadeIn 1s;
}

.loader {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  animation: fadeOut 1s forwards;
  animation-delay: 1s;
}

.text-animate {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s ease-out forwards;
  animation-delay: 1s;

  @for $i from 11 through 36 {
    &.delay-#{$i} {
      animation-delay: #{math.div($i, 10)}s;
    }
  }
}

.text-animate-hover {
  display: inline-block;

  &:hover {
    color: $primary-color;
    animation: rubberBand 1s;
  }
}

@media screen and (max-width: 1200px) {
  h1 {
    font-size: 5.5rem;
  }

  #root {
    flex-direction: column;
  }

  .page-container {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 4rem;
  }

  #main {
    padding: 4rem 2rem;
  }
}
